# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/
launch.json

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
bewellapp_keystore.jks.encrypted
bewellapp_keystore.jks


# Web related
lib/generated_plugin_registrant.dart

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/debug_key.properties
**/android/**/GeneratedPluginRegistrant.java

#iOS Related
/ios/976SPS3FV4.cer
/ios/AppStore_com.mycarehub.mycarehubpro.mobileprovision
/ios/Default-568h@2x.png
/ios/Runner.app.dSYM.zip
/ios/Runner.ipa
/ios/Runner/
# /ios/Flutter
/ios/build/
/ios/gc_keys.json
/ios/vendor
/ios/fastlane/metadata/

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
ios/.Runner.app.dSYM.zip.icloud

# Exceptions to above rules.
!**/ios/Flutter/dev.xcconfig
!**/ios/Flutter/prod.xcconfig
!ios/Flutter/dev.xcconfig
!ios/Flutter/prod.xcconfig
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
.flutter-plugins-dependencies
ios/Flutter/flutter_export_environment.sh

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# .firebase
.firebase/

copy_android/
_temp/
/dump/

#debug_sil.keysore
debug_sil.keystore
*.jks
*key.properties

# environment variables
.env

